# Server hostname to be tested
server: server_name

# Users to use for authentication
users:
  user1: user1password

# Backend filesystem of the exported shares
backend: glusterfs

# shares: List of dict of exported shares
shares:
  # share name export1
  export1:
    # If present, it means the share is pre-mounted
    path: /mnt/share/export1-cephfs-vfs
    backend:
      # If present backend filesystem
      name: cephfs.vfs
      # If present, provides direct access to share
      path: /mnt/backend/export1
    # If present, username to perform the tests with on this share
    users:
      test2: x
    # If present, the hostname to use to connect to the test server
    server: hostname1
  # share name export2
  export2:
    # Use default values set for this share
